{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row prof-header justify-content-center">
        <div class="col-lg-3 col-sm-10">
            <h2 class="text-center">My Profile</h2>
        </div>
    </div>
    <div class="row justify-content-center profile-p">
        <div class="col-lg-4 col-md-6 col-sm-8" style="width: auto;">
            {% if profile.profile_photo %}
            <img class="profile-photo" height="350" width="350" src="{{ profile.profile_photo.url }}" alt="Profile Photo">
            {% else %}
            <img class="profile-photo" height="350" width="350" src="https://www.pacificfoodmachinery.com.au/media/catalog/product/placeholder/default/no-product-image-400x400.png" alt="Profile Photo">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 profile-p">
            <h3>My Billing Information</h3>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-dark">Update Information</button>
                <a href="{% url 'profile' %}" class="btn btn-dark">Cancel</a>
            </form>
        </div>
        <div class="col-12 col-lg-6 profile-p">
            <h3>My Orders</h3>
            <table class="table">
                <thead>
                    <th>Order Number</th>
                    <th>Program</th>
                    <th>Order Date</th>
                    <th>Price</th>
                </thead>
                <tbody>
                    {% if orders %}
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.order_number|truncatechars:6 }}</td>
                        <td><a href="{% url 'program_info' order.program_id.id %}">{{ order.program_id.name }}</a></td>
                        <td>{{ order.date }}</td>
                        <td>${{ order.total_amount }}</td>
                    {% endfor %}
                    {% else %}
                    <td>You don't have any purchased programs</td>
                    {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}