{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <h3>Please complete your order to access the program</h3>
            <form action="{% url 'checkout' program.id %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="">
                    <legend class="">Contact Info</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                </fieldset>
                <fieldset class="">
                    <legend class="">Billing Address</legend>
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    <div>
                        <label class="form-check-label" for="id-save-info">Save my billing address</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                    </div>
                </fieldset>
                <fieldset class="">
                    <legend class="">Payment</legend>
                    <div class="" id="card-element"></div>

                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <div class="row justify-content-end complete">
                    <div class="submit-button">
                        <button type="submit" class="btn btn-dark"><span>Complete Order</span></button>
                    </div>
                </div>
                <div class="row justify-content-end complete">
                        <div class="align-self-end">
                            <span>Total amount charged <strong>${{ total }}</strong></span>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i style="color: black;" class="fas fa-spinner fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
