.prof-header {
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.profile-photo {
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.profile-p {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

