{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <h2>Program Management</h2>
            <h3>Add Program</h3>
            <form method="POST" action="{% url 'add_program' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="submit-button">
                    <button type="submit" class="btn btn-dark"><span>Add Porgram</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}