{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-12 text-center programs">
                <h2>Our Programs</h2>
            </div>
        </div>
        <div class="row">
            {% for program in programs %}
                <div class="col-lg-4" style="padding-bottom: 1rem;">
                    <div class="card" style="width: 100%;">
                        <img src="{{ program.image.url }}" class="card-img-top" alt="Basic Program">
                        <div class="card-body">
                          <h5 class="card-title">{{ program.name }}</h5>
                          <p class="card-text">{{ program.insight }}</p>
                          <p class="card-text">Price: {{ program.price }}</p>
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}